*{
    margin:0;
    padding: 0;
}  

.cabecalho{
background-color:#000000;
color: rgb(255, 255, 255);
display: flex;
justify-content: space-around;
padding: 24px 0;
font: size 12px;
}

.cabecalholistaitem{display: inline-block;
margin: 0 46px;
padding: 24px 0;
}


.sobre-imagem{
    width: 24%;
}
.sobre{
    background-image: linear-gradient(#4b4b4b,#8d8d8d);
    color: #ffffff;
    display: flex;
}

.membro-icone{
 width:24px;
}

.membro-dive{
text-align: center;
}

.membros-titulo{
text-align:center;
padding: 150px o;
}