*{
    margin:0;
    padding: 0;
}  

.cabecalho{
background-color:#000000;
color: rgb(255, 255, 255);
display: flex;
justify-content: space-around;
padding: 24px 0;
font: size 12px;
}

.cabecalholistaitem{display: inline-block;
margin: 0 46px;
padding: 24px 0;
}